[submodule "pack/plugins/start/auto-pair"]
	path = pack/plugins/start/auto-pair
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/ycm"]
	path = pack/plugins/start/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/vim-closetag"]
	path = pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/plugins/start/vim-jsx"]
	path = pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "pack/plugins/start/neoformat"]
	path = pack/plugins/start/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "pack/plugins/start/vim-styled-components"]
	path = pack/plugins/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
[submodule "pack/plugins/start/tern_for_vim"]
	path = pack/plugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
